body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#ffff;
}

header {
  background-color:#bbbb;
  color: #ffff;
  padding: 10px;
  text-align: center;
}

#order-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}